---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { cn } from '@/lib/utils'
---

<Layout>
  <PageHead slot="head" title="404" />
  <Breadcrumbs items={[{ label: 'oops', icon: 'lucide:leaf' }]} />

  <section
    class="flex flex-col items-center justify-center gap-y-4 text-center"
  >
    <div class="max-w-md">
      <h1 class="mb-4 text-3xl font-medium">404</h1>
      <p class="prose">The page you're looking for doesn't exist. Let's go back home.</p>
    </div>
    <Link
      href="/"
      class={cn(buttonVariants({ variant: 'outline' }), 'flex gap-x-1.5 group')}
    >
      <span class="transition-transform group-hover:-translate-x-1">&larr;</span
      > Let's go back to home page
    </Link>
  </section>
</Layout>
