---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:sprout' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">
         <h2>Residencies</h2>
         <br>
        <ul>
          <li><a href="https://aa2a.org/about-aa2a/">AA2A</a> Artist Residency at Nottingham Trent University, artistic development and production (digital media and sculptural installation) for my HGCRC project Climate | Tech Colonialism, 2024-2025 </li>
          <li><a href="https://www.hgc.hosted.york.ac.uk/research-axes/">Heritage for Global Challenges Research Centre (Department of Archaeology at the University of York)</a>, a research and development residency (my project explores a brief history of climate technologies), December 2024–April 2025</li>
          <li><a href="https://exposingtheinvisible.org/en/news/call-investigation-institute-2024">Tactical Tech: Exposing the Invisible, Digital Investigation Residency</a>, a research residency using investigation practices, topics, methods and tools on the themes “Critical Climates”, “Political Influence” and “AI and Us”, November 2024</li>
          <li><a href="https://www.artagon.org/lieux/maison-artagon/">Maison Artagon</a>, artist and research development, July 2023</li>
          <li><a href="https://cocreationstudio.mit.edu/worlding-program-and-cohort-announced/">MIT Open Documentary Lab's Co Creation Studio with Unity</a>, an incubation workshop series for collective practice on climate futures, with lead artist <a href="https://slyrabbit.net/about/">Hwa Young Jung</a> and Abandon Normal Devices, October 2022</li>
          <li><a href="https://www.andfestival.org.uk/events/impossible-perspectives-lab/">Abandon Normal Devices – Impossible Perspectives Lab</a>, XR (extended realities) talent development programme, March 2022</li>
          <li><a href="https://sonicacts.com/portal/sonic-acts-announces-six-artists-and-researchers-for-the-overexposed-home-based-residency">Sonic Acts – OVEREXPOSED</a>, environmental research, 2021</li>
          <li><a href="https://www.weareprimary.org/projects-archive/angela-yt-chan">Primary – Nourishment: A Cyclical Programme</a>, artistic research residency, October 2021</li> 
          <li><a href="https://www.fact.co.uk/news/2020/10/jerwood-arts-fact-fellows-announced">FACT / Jerwood Arts – Digital Fellowship</a>, a research and development residency with exhibition, 2020-21</li>
          <li><a href="http://www.estuaryfestival.com/">Metal Culture – Estuary 2021</a>, artist development and exhibition, 2021</li>
          <li><a href="https://chisenhale.co.uk/studios/myco-lective-artist-announcement-and-adapted-programme/">Chisenhale Gallery and Feral Practice – Myco-Lective</a>, artist development, 2020-21</li>
          <li><a href="https://artscatalyst.org/undisciplinary-residency-2019">Arts Catalyst and The Otolith Collective – Undisciplinary</a>, curatorial development, April 2019</li>
        </ul>
      <br>
         <h2>Exhibitions</h2>
         <br>
        <ul>
          <li>Commission for Arena for Journalism in Europe, with international newsrooms, tba 2025-2026 </li>
          <li><a href="https://angelaytchan.net/blog/2025/250424_forestscapes/">forestscapes Listening Lab</a>, Livingmaps Network Conference, Senate House London, April 2025 </li>
          <li><a href="https://angelaytchan.net/blog/2025/250204_hf/">Hopeful Futures</a>, KCL, Policy Institute, London Councils, London, February 2025 </li>
          <li><a href="https://angelaytchan.net/blog/2024/241113_vstuth/">Turning up the Heat</a>, Vital Signs, Science Gallery, London, November — May 2025 </li>
          <li><a href="https://angelaytchan.net/blog/2024/240601_growingproject/">The Growing Project: Digital Narrative Game)</a>, online, Grand Union, Birmingham, June 2024 - present</li>
          <li><a href="https://angelaytchan.net/blog/2024/240603_itpcamp/">Cats</a>, in SHOW ALL THINGS SHOW, ITP Camp, NYU, New York City, June 2024</li>
          <li><a href="https://angelaytchan.net/blog/2023/231007_wol/">Waterscapes on Land</a>, in Storm Warning: what does climate change mean for coastal communities?, Newlyn Art Gallery & The Exchange, Penzance, November 2023 — April 2024</li>
          <li><a href="https://cocreationstudio.mit.edu/worlding-program-and-cohort-announced/">MIT Open Documentary Lab's Co Creation Studio with Unity</a>, in Seeking Connection, Digital Futures Institute, London, November 2023 — January 2024</li>
          <li><a href="https://angelaytchan.net/blog/2023/231007_wol/">Waterscapes on Land</a>, in Storm Warning: what does climate change mean for coastal communities?, Big Screen, Focal Point Gallery, Southend-on-Sea, September 2023 — January 2024</li>
          <li><a href="https://angelaytchan.net/blog/2023/230805_rbc/">Waterscapes on LandD</a>, on the High Street Railway Bridge, Focal Point Gallery, Southend-on-Sea, August — October 2023</li>
          <li><a href="https://angelaytchan.net/blog/2023/230605_forestscapes_republica/">forestscapes Listening Lab</a>, in re:publica 23, Berlin, June 2023</li> 
          <li><a href="https://angelaytchan.net/blog/2021/210915_rpexhibition/">Rain Paradox</a>, in Uncertain Data, FACT, Liverpool, September — October 2021</li>
          <li><a href="https://angelaytchan.net/blog/2021/210521_aytc_export_explode/">[Export Explode></a>,  in Estuary 2021, Metal Culture, Wat Tyler Country Park, Pitsea, May — June 2021</li>
          <li><a href="https://angelaytchan.net/blog/2021/210402_trixie/">krill this love</a>, in Under a Two-moon Belief System No Duality Endures, Trixie, The Hague, April 2021</li>
          <li><a href="https://angelaytchan.net/blog/2019/190126_gas/">w the worm</a>, in The Institute of Queer Ecology (IQECO), Gas Gallery, Los Angeles, January — April 2019</li>
          <li><a href="https://angelaytchan.net/blog/2018/180628_queerecology/">w the worm</a>, in The Institute of Queer Ecology (IQECO), Prairie, Chicago, May — July 2018</li>
        </ul>
      <br>
         <h2>Curations</h2>
         <br>
        <ul>
          <li><a href="https://wellcomecollection.org/event-series/Ys11qhEAACEAgsTe/">A Breath of Fresh Air</a>, a youth event series on air pollution, co-curated with Dr Chloe Trainor, Wellcome Collection, 2022 </li>
          <li><a href="https://www.andfestival.org.uk/events/turbidity/">Turbidity</a>, a short film curation about water, environment and identity, New Cinema Shorts, Abandon Normal Devices, 2021</li>
          <p>Between 2014 – 2020, I commissioned 53 artists for online features and collaborations, and curated 5 curatorial projects and exhibitions:</p>
          <li><a href="https://britishartstudies.ac.uk/issues/issue-index/issue-18">Climate and Culture Beyond Borders</a>, British Art Studies (Paul Mellon Centre and Yale), online, 2020</li>
          <li><a href="https://angelaytchan.net/blog/2020/200921_gentle/">Gentle Strategising</a>, MAMA, Rotterdam, 2020</li>
          <li><a href="https://angelaytchan.net/blog/2020/200307_climateknowledges/">Climate Knowledges</a>, online and MAMA, Rotterdam, 2020</li>
          <li><a href="https://angelaytchan.net/blog/2018/180105_refuse/">Refuse: (v)(n)(-)</a>, online, 2018</li> 
          <li><a href="https://angelaytchan.net/blog/2016/160422_tippingpoints/">Tipping Points</a>, Podium, Oslo, 2016</li>
        </ul>
      <br>
      <h2>Awards</h2>
      <br>
         <h4>Independent Research</h4>
          <ul>
            <li>Developing Your Creative Practice (DYCP), Arts Council England, 2019</li>
            <li>a-n Artists Bursary, 2019</li>
          </ul>
          <h4>Curatorial projects</h4>
          <p>All exhibitions for my  <i>Worm: art + ecology</i> projects (2016 – 2020) have been fully funded  with support from:
          </p>
            <ul> 
            <li>Mondriaan Fund, Het Nieuwe Instituut, Gemeente Rotterdam, 
            Stichting Bevordering van Volkskracht, MAMA, Arts Council Norway</li>
          </ul>
          <h4>Academic</h4>
            <ul> 
              <li>British Council ‘Generation UK-China’ Award: Environmental Internship, Shanghai, 2018</li>
              <li>King’s College London ‘Cultural Challenge Award’ with the V&A Museum, London, 2018 </li>
              <li>University College London ‘Summer Internship Scheme’ with Cape Farewell, 2016</li>
              <li>Danish Cultural Institute, Intensive Intermediate Danish Language Course, full scholarship, 2016</li>
              <li>Universitetet i Oslo, Intermediate Norwegian & Literature at UiO ISS, full scholarship, 2013</li> 
          </ul> 
      <br><br>
      <h2>Education</h2>
      <br>
        <ul> 
          <li>Professional certifications in data engineering / science</li>
          <li>CPD Cultural Infrastructure, The Bartlett School of Planning, UCL</li> 
          <li>MA Climate Change: History, Culture, Society, King’s College London</li>
          <li>BA (Combined Hons) History of Art and Scandinavian Studies with Advanced Norwegian, University College London</li>
      </ul> 
        </p>
      </div>
  </section>
</Layout>
