---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:sprout' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">
         <h2>Residencies</h2>
         <br>
        <ul>
          <li>2025 | <a href="https://aa2a.org/about-aa2a/">AA2A</a> Artist Residency at Nottingham Trent University, artistic development and production (digital media and sculptural installation) for my HGCRC project Climate | Tech Colonialism,</li>
          <li>2025 | <a href="https://www.hgc.hosted.york.ac.uk/research-axes/">Heritage for Global Challenges Research Centre (Department of Archaeology at the University of York)</a>, a research and development residency (my project explores a brief history of climate technologies)</li>
          <li>2024 | <a href="https://exposingtheinvisible.org/en/news/call-investigation-institute-2024">Tactical Tech: Exposing the Invisible, Digital Investigation Residency</a>, a research residency using investigation practices, topics, methods and tools on the themes “Critical Climates”, “Political Influence” and “AI and Us”</li>
          <li>2023 | <a href="https://www.artagon.org/lieux/maison-artagon/">Maison Artagon</a>, artist and research development</li>
          <li>2022 | <a href="https://cocreationstudio.mit.edu/worlding-program-and-cohort-announced/">MIT Open Documentary Lab's Co Creation Studio with Unity</a>, an incubation workshop series for collective practice on climate futures, with lead artist <a href="https://slyrabbit.net/about/">Hwa Young Jung</a> and Abandon Normal Devices</li>
          <li>2022 | <a href="https://www.andfestival.org.uk/events/impossible-perspectives-lab/">Abandon Normal Devices – Impossible Perspectives Lab</a>, XR (extended realities) talent development programme</li>
          <li>2021 | <a href="https://sonicacts.com/portal/sonic-acts-announces-six-artists-and-researchers-for-the-overexposed-home-based-residency">Sonic Acts – OVEREXPOSED</a>, environmental research</li>
          <li>2021 | <a href="https://www.weareprimary.org/projects-archive/angela-yt-chan">Primary – Nourishment: A Cyclical Programme</a>, artistic research residency</li> 
          <li>2020-21 | <a href="https://www.fact.co.uk/news/2020/10/jerwood-arts-fact-fellows-announced">FACT / Jerwood Arts – Digital Fellowship</a>, a research and development residency with exhibition</li>
          <li>2021 | <a href="http://www.estuaryfestival.com/">Metal Culture – Estuary 2021</a>, artist development and exhibition</li>
          <li>2020-21 | <a href="https://chisenhale.co.uk/studios/myco-lective-artist-announcement-and-adapted-programme/">Chisenhale Gallery and Feral Practice – Myco-Lective</a>, artist development</li>
          <li>2019 | <a href="https://artscatalyst.org/undisciplinary-residency-2019">Arts Catalyst and The Otolith Collective – Undisciplinary</a>, curatorial development</li>
        </ul>
      <br>
         <h2>Exhibitions</h2>
         <br>
        <ul>
          <li>2026 | Commission for Arena for Journalism in Europe, with international newsrooms </li>
          <li>2025 | <a href="https://angelaytchan.net/blog/2025/250424_forestscapes/">forestscapes Listening Lab</a>, Livingmaps Network Conference at Senate House London</li>
          <li>2025 | <a href="https://angelaytchan.net/blog/2025/250204_hf/">Hopeful Futures</a> for KCL, Policy Institute, London Councils, London </li>
          <li>2025 | <a href="https://angelaytchan.net/blog/2024/241113_vstuth/">Turning up the Heat</a>, Vital Signs at Science Gallery, London</li>
          <li>2024 | <a href="https://angelaytchan.net/blog/2024/240601_growingproject/">The Growing Project: Digital Narrative Game)</a>, online for Grand Union, Birmingham</li>
          <li>2024 | <a href="https://angelaytchan.net/blog/2024/240603_itpcamp/">Cats</a>, in SHOW ALL THINGS SHOW, ITP Camp at NYU, New York City</li>
          <li>2023 — 2024 | <a href="https://angelaytchan.net/blog/2023/231007_wol/">Waterscapes on Land</a>, in Storm Warning: what does climate change mean for coastal communities? at Newlyn Art Gallery & The Exchange, Penzance</li>
          <li>2023 — 2024 | <a href="https://angelaytchan.net/blog/2023/231101_forestscapes/">forestscapes Listening Lab</a>, in Seeking Connection at the Digital Futures Institute, London</li>
          <li>2023 — 2024 | <a href="https://angelaytchan.net/blog/2023/231007_wol/">Waterscapes on Land</a>, in Storm Warning: what does climate change mean for coastal communities?, Big Screen, Focal Point Gallery, Southend-on-Sea</li>
          <li>2023 | <a href="https://angelaytchan.net/blog/2023/230805_rbc/">Waterscapes on Land</a>, on the High Street Railway Bridge, Focal Point Gallery, Southend-on-Sea</li>
          <li>2023 | <a href="https://angelaytchan.net/blog/2023/230605_forestscapes_republica/">forestscapes Listening Lab</a>, in re:publica 23, Berlin</li> 
          <li>2021 | <a href="https://angelaytchan.net/blog/2021/210915_rpexhibition/">Rain Paradox</a>, in Uncertain Data at FACT, Liverpool</li>
          <li>2021 | <a href="https://angelaytchan.net/blog/2021/210521_aytc_export_explode/">[Export Explode></a>, in Estuary 2021 for Metal Culture at Wat Tyler Country Park, Pitsea</li>
          <li>2021 | <a href="https://angelaytchan.net/blog/2021/210402_trixie/">krill this love</a>, in Under a Two-moon Belief System No Duality Endures at Trixie, The Hague</li>
          <li>2019 | <a href="https://angelaytchan.net/blog/2019/190126_gas/">w the worm</a>, in The Institute of Queer Ecology (IQECO) at Gas Gallery, Los Angeles</li>
          <li>2018 | <a href="https://angelaytchan.net/blog/2018/180628_queerecology/">w the worm</a>, in The Institute of Queer Ecology (IQECO) at Prairie, Chicago</li>
        </ul>
      <br>
         <h2>Curations</h2>
         <br>
        <ul>
          <li>2022 | <a href="https://wellcomecollection.org/event-series/Ys11qhEAACEAgsTe/">A Breath of Fresh Air</a>, a youth event series on air pollution, co-curated with Dr Chloe Trainor, Wellcome Collection</li>
          <li>2021 | <a href="https://www.andfestival.org.uk/events/turbidity/">Turbidity</a>, a short film curation about water, environment and identity, New Cinema Shorts, Abandon Normal Devices</li>
          <p>2014 – 2020 | I commissioned 53 artists for online features and collaborations, and curated 5 curatorial projects and exhibitions:</p>
          <li>2020 | <a href="https://britishartstudies.ac.uk/issues/issue-index/issue-18">Climate and Culture Beyond Borders</a>, British Art Studies (Paul Mellon Centre and Yale), online</li>
          <li>2020 | <a href="https://angelaytchan.net/blog/2020/200921_gentle/">Gentle Strategising</a>, MAMA, Rotterdam</li>
          <li>2020 | <a href="https://angelaytchan.net/blog/2020/200307_climateknowledges/">Climate Knowledges</a>, online and MAMA, Rotterdam</li>
          <li>2018 | <a href="https://angelaytchan.net/blog/2018/180105_refuse/">Refuse: (v)(n)(-)</a>, online</li> 
          <li>2016 | <a href="https://angelaytchan.net/blog/2016/160422_tippingpoints/">Tipping Points</a>, Podium, Oslo</li>
        </ul>
      <br>
       <h2>Selected Professional Experiences</h2>
            <br>
              <ul> 
                <li>2025-26 | Advisory Group Member, International Curators Forum (ICF), London</li>
                <li>2025 - | Project and Web Archivist, INTERPRT</li> 
                <li>2025 - | Trustee, Bloc Projects, Sheffield</li>
                <li>2024 | Climate Assemblies Facilitator, Policy Institute, King’s College London</li>
                <li>2024 | AI and Art, Industry Advisor, Pervasive Media Studio, Watershed</li>
                <li>2023-24 | Data Engineer, London</li>
                <li>2022 - | MA Supervisor in media theory for GMM, Winchester School of Art, University of Southampton</li>
                <li>2021-22 | International Climate and Cultural Policy, Researcher, Julie’s Bicycle, British Council, UNCOP26</li>
                <li>2018 | Museum Sustainability, Researcher, Estates Department, V&A Museum</li>
            </ul> 
       <br>  
       <h2>Selected Press and Published Writing</h2>
            <br>
              <ul> 
              <li>2023 | <a href="https://angelaytchan.net/blog/2023/230616_holdingsway/">States of Hydration</a>, essay and collages in Holding Sway, University of California Humanities Research Institute</li>
              <li>2022 | <a href="https://www.1854.photography/2022/01/creating-change-angela-y-t-chan/">Creating Change</a>, interview, British Journal of Photography</li>
              <li>2022 | <a href="https://angelaytchan.net/blog/2021/211221_wellcome/">UK Youth Air Pollution Activism</a>, internal research report, Wellcome Collection</li>
              <li>2021 | <a href="https://angelaytchan.net/blog/2021/210323_juliesbicycleuncop26/">Culture to Climate Action/a>, research report for policy recommendations, Julie’s Bicycle, British Council, UNCOP26</li>
              <li>2021 | <a href="https://sfrareview.org/2021/10/18/roundtable-can-chinese-science-fiction-transcend-binary-thinking/">Can Chinese Science Fiction Transcend Binary Thinking?</a>, SFRA Review, vol. 51, no. 4 </li>
              <li>2020 | <a href="https://britishartstudies.ac.uk/issues/issue-index/issue-18/climate-and-culture-beyond-borders">Climate and Culture Beyond Borders</a>, essay, British Art Studies (Paul Mellon, Yale), Issue 18</li> 
              <li>2020 | <a href="https://www.1854.photography/2022/01/creating-change-angela-y-t-chan/">Changing Realities and Speculative Fictions</a>, interview, Serpentine Galleries</li>
              <li>2020 | Relocating a Speculative Centre in <a href="https://mitpress.mit.edu/9780262538855/science-fiction/">Science Fiction</a>, essay, MIT Press and Whitechapel Gallery</li>
            </ul> 
     <br>  
      <h2>Awards</h2>
      <br>
         <h4>Independent Research</h4>
          <ul>
            <li>2019 | Developing Your Creative Practice (DYCP), Arts Council England</li>
            <li>2019 | a-n Artists Bursary</li>
          </ul>
          <h4>Curatorial projects</h4>
          <p>2016 – 2020 | All exhibitions for my  <i>Worm: art + ecology</i> projects have been fully funded  with support from:
          </p>
            <ul> 
            <li>Mondriaan Fund, Het Nieuwe Instituut, Gemeente Rotterdam, 
            Stichting Bevordering van Volkskracht, MAMA, Arts Council Norway</li>
          </ul>
          <h4>Academic</h4>
            <ul> 
              <li>British Council ‘Generation UK-China’ Award: Environmental Internship, Shanghai</li>
              <li>King’s College London ‘Cultural Challenge Award’ with the V&A Museum, London </li>
              <li>University College London ‘Summer Internship Scheme’ with Cape Farewell</li>
              <li>Danish Cultural Institute, Intensive Intermediate Danish Language Course, full scholarship</li>
              <li>Universitetet i Oslo, Intermediate Norwegian & Literature at UiO ISS, full scholarship</li> 
          </ul> 
      <br>
      <h2>Education</h2>
      <br>
        <ul> 
          <li>Professional certifications in data engineering, AI, data science - Microsoft, AWS </li>
          <li>CPD Cultural Infrastructure, The Bartlett School of Planning, UCL</li> 
          <li>MA Climate Change: History, Culture, Society, King’s College London</li>
          <li>BA (Combined Hons) History of Art and Scandinavian Studies with Advanced Norwegian, University College London</li>
      </ul> 
        </p>
      </div>
  </section>
</Layout>
