---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Hello, I'm an independent researcher and artist specialising in climate change</h3> 
        <br>
        <p class="text-muted-foreground text-med">
          climate change &bull; history &bull; technology &bull; justice
        </p>
      </div>   
      <img src="/page_media/aytc_profile_credit_louise_hobson.png" alt="Angela in an orange jumper crouched at a rocky seaside. She wears a black tote bad and a grey cap.">
     <br>
      <div class="p-6 pt-0"> 
        <p class="text-muted-foreground mb-2 text-med">
        "Angela YT Chan is an independent researcher and artist investigating climate change narratives through colonial history, data, technology, and justice.
        <br><br>
        Her activities often include interdisciplinary collaborations in journalism, policy, academia and activism, merging artistic and digital research methods. Angela's ongoing project 'Critiquing a 'Sustainable Military'' explores how public narratives are shaped around environmental security and conflict technologies, within the unfolding history of climate colonialism. She has held numerous residencies, including Arts Catalyst, FACT/Jerwood, Sonic Acts, Primary, Abandon Normal Devices, HGCRC (Archaeology, University of York), Critical Infrastructures and Image Politics, and Tactical Tech.
        <br><br>
        Angela has produced curatorial projects and workshops, collaborating with artists, activists and youth groups (formerly under the name Worm: art + ecology, 2014-2020). She co-directs the London Science Fiction Research Community. As an educator she has taught climate colonialism, environmental and social art, games and speculative fiction, and mentors artists working on digital media technologies.
        <br><br>
        Angela is also a research consultant, having worked on climate projects for major cultural institutions and in international climate and cultural policy at Julie's Bicycle. She currently works with INTERPRT - a research agency that pursues environmental justice through spatial and visual investigations - and Arena for Journalism in Europe." 
          </p>
      </div>
    </div>
  </section>
    <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-2xl leading-none font-medium">My projects include:</h3> 
        <br>
        <p class="text-muted-foreground text-med">
          arts practice &bull; research &bull; collaboration
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-med">
        
              artworks &bull; 
              curatorial &bull; 
              workshops &bull; 
              public talks &bull; 
              writing &bull; 
            climate and cultural research (investigations, policy, consultancy) &bull; 
           teaching (university, youth groups) &bull; 
           data practice (creative, engineering) &bull; 
          </p>
      </div>
    </div>
  </section>
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
    <h2 class="text-2xl font-medium">Current activities</h2>
    <br>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all activities <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
